{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Insights</h1>

    <!-- FEAUTURE ROW-->
    {% for F in feature %}
    <div class="row g-0 featuredRow">
        <h3>Featured</h3>
        <div class="col-md-6">
        <img src="{{F.featureImage.url}}">
        </div>
        <div class="col-md-6 techCol">
            <p>{{F.featureCategory}}</p>
            <p>{{F.featureTitle}}</p>
            <p>{{F.featureDesc}}
            </p>
            <a href="#">Discover More &#8599;</a>
        </div>
    </div>
    {% endfor %}

    <!-- CATEGORY MENU -->
    <hr>

    <nav class="navbar navbar-expand-sm w-90 m-auto">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">All Topics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Process</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stategy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tools</a>
              </li>
            </ul>
        </div>
      </nav>

      <!-- INSIGHT CARDS -->
      
      <div class="row g-0 insightsRow"> 
        {% for I in insights %}
          <div class="col-md-4 g-0">
            <div class="card">
                <img src="{{I.insightsImage.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-category">{{I.insightsCategory}}</h5>
                  <p class="card-title">{{I.insightsTitle}}</p>
                  <p class="card-text">{{I.insightsDesc}}</p>
                </div>
              </div>
          </div>
          {% endfor %}
      </div>
     

{% endblock %}