{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Insights</h1>

    <!-- FEAUTURE ROW-->
    <div class="row g-0 featuredRow">
        <h3>Featured</h3>
        <div class="col-md-6">
        <img src="/dev_test_1/images/nathan-queloz-go2HQcWV6iw-unsplash 1.jpg">
        </div>
        <div class="col-md-6 techCol">
            <p>Technology</p>
            <p>How to Pick Technology</p>
            <p>Technology is a significant investment and an incredibly useful one, when the right technology is brought in.
                Here are some tips and considerations to help you pick the most useful tech for your company.
            </p>
            <a href="#">Discover More &#8599;</a>
        </div>
    </div>
    <!-- CATEGORY MENU -->
    <hr>
    <nav class="navbar navbar-expand-sm w-90 m-auto">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">All Topics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Process</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stategy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tools</a>
              </li>
            </ul>
        </div>
      </nav>

      <!-- INSIGHT CARDS -->
      <div class="row g-0 insightsRow"> 
          <div class="col-md-4 g-0">
            <div class="card">
                <img src="/dev_test_1/images/Mask Group.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-category">Tools</h5>
                  <p class="card-title">Technology Adoption Tool</p>
                  <p class="card-text">Download our Tech Adoption Tool Directly here.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 g-0">
            <div class="card">
                <img src="/dev_test_1/images/Image.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-category">Strategy</h5>
                  <p class="card-title">Developing an IT Strategy</p>
                  <p class="card-text">An IT Strategy helps a company align technology, process and strategy.</p>
  
                </div>
              </div>
          </div>
          <div class="col-md-4 g-0">
            <div class="card">
                <img src="/dev_test_1/images/Image1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-category">Technology</h5>
                  <p class="card-title">Why less may be more</p>
                  <p class="card-text">New tech is being released daily and the bright and 
                      shiny marketing is designed to lure us in!</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 g-0">
        <div class="card">
            <img src="/dev_test_1/images/Mask Group.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-category">Tools</h5>
              <p class="card-title">Technology Adoption Tool</p>
              <p class="card-text">Download our Tech Adoption Tool Directly here.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 g-0">
        <div class="card">
            <img src="/dev_test_1/images/Image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-category">Strategy</h5>
              <p class="card-title">Developing an IT Strategy</p>
              <p class="card-text">An IT Strategy helps a company align technology, process and strategy.</p>

            </div>
          </div>
      </div>
      <div class="col-md-4 g-0">
        <div class="card">
            <img src="/dev_test_1/images/Image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-category">Technology</h5>
              <p class="card-title">Why less may be more</p>
              <p class="card-text">New tech is being released daily and the bright and 
                  shiny marketing is designed to lure us in!</p>
          </div>
      </div>
      </div>


{% endblock %}