{% extends 'base.html' %}
{% load static %}

{% block title %}
Dev Test 2
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/devTest2.css' %}">
{% endblock %}

{% block content %}

<!-- Image of students -->
<div>
    {% for I in image %}
    <img src="{{ I.image.url }}" class="students">
    {% endfor %}
</div>
<!-- breadcrumbs -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='whitesmoke'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item">Why Choose Us</li>
  <li class="breadcrumb-item active" aria-current="page">Alumuni Stories</li>
  <li class="breadcrumb-item active" aria-current="page">International Graduate in Finance</li>
</ol>
</nav>
<!--Healine-->
<img src="/dev_test_2/images/Headline.png" class="quotes">

<div class="headline">
<p>international student</p>
<p>If you’re looking for a college that is committed to your success - this place is for you</p>
<p>student name</p>
<p>Graduate of Agriculture & Bioresourcesat the best College</p>
</div>

<!-- line at bottom of image -->
<hr>

<!--Frame 1, 2, 3 & 4 -->
<div class="row container-fluid frameRow">
<div class="col-md-3">
    <p>Program</p>
    <p>Program Name</p>
</div>
<div class="col-md-3">
    <p>Campus</p>
    <p>Name of Campus</p>
</div>
<div class="col-md-3">
    <p>hometown</p>
    <p>Hometown Name</p>
</div>
<div class="col-md-3">
    <p>Favourite place to eat</p>
    <p>Local Restaurant</p>
</div>
</div>

     

{% endblock %}